@using Tamriel.Domain

@{
    ViewData["Title"] = "Home Page";
}

<h1>Provinces</h1>

<section>

    @foreach (var province in (IEnumerable<Province>)ViewBag.ProvinceList)
    {
    <article>
        <header>
            <h4>@province.Name</h4>
            <h5>@province.Capital</h5>
        </header>


        <img alt="@province.Image" src="../images/provinces/@province.Image" />

        <div class="carta">

            <div class="divCarta">
                <img alt="@province.OriginatingRace.Image" src="../images/races/@province.OriginatingRace.Image" />
            </div>

            <div class="divCarta ">
                <dl>
                    <dt>Population</dt>
                    <dd>@province.Population</dd>
                </dl>
                <dl>
                    <dt>Area</dt>
                    <dd>@province.Area Km²</dd>
                </dl>
                <dl>
                    <dt>Race</dt>
                    <dd>@province.OriginatingRace.Name</dd>
                </dl>
            </div>
        </div>
        <ul class="geoUl">
            @foreach (var geoName in province.Geography)
            {
                <li title="@geoName.Name">
                    <a title="@geoName.Name" href="">
                        <img alt="@geoName.Image" src="~/images/geography/@geoName.Image" />
                    </a>

                </li>
            }
        </ul>
    </article>
    }
</section>

    @foreach (var geography in (IEnumerable<Geography>)ViewBag.GeographyList)
    {
        <div>
            <span>@geography.Name</span>
        </div>
    }
    @foreach (var race in (IEnumerable<Race>)ViewBag.RaceList)
    {
        <div>
            <span>@race.Name</span>
        </div>
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
